@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-[#f1e3ff] ;
  @apply text-[#40155f] ;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;

  }
}


div.hero-splash{
  background-image: url('./assets/splash.jpg');
    /* background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;   */
}